fastapi
uvicorn
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
python-multipart
psycopg2-binary
pillow
httpx
python-dotenv
replicate
tensorflow-cpu
tensorflow_hub
numpy<2.0.0
gradio_client
qdrant-client
sentence-transformers
huggingface_hub