flask
flask-cors
flasgger
tensorflow-cpu==2.16.1
numpy
pillow
scipy
matplotlib
fastapi
uvicorn
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
python-multipart
psycopg2-binary
scikit-learn
seaborn
replicate
httpx
python-dotenv